.bootstrap-dialog .btn-modal-close {
    border-radius: 0;
    border: none;
    float: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.4;
}